* {
    font-family: "Manrope";
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 5%;
}

h1, h2, h3, h4, h5, h6, .main-nav-title {
    font-family: "Anton";
    font-weight: 400;
}

/* Main header styles */
.main-header {
    height: 700px;
    display: grid;
    padding:  0 50px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0,  0, 0.8)), url("/assets/images/Recette15.jpg");
}
.header-nav, .header-search {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-nav {
    position: absolute;
    top: 30px;
}

.header-nav a {
    text-decoration: none;
}

.header-search {
    flex-direction: column;
}

.main-nav-title {
    font-family: "Anton";
    text-transform: uppercase;
    font-size: 27px;
    color: white;
}

.header-search-title {
    color: #FFD15B;
    text-transform: uppercase;
    font-size: 44px;
    text-align: center;
    max-width: 700px;
}

.header-search-bar {
    display: flex;
    gap: 10px;
    width: 900px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.recipes-search-input {
    width: 100%;
    border: none;
}

.search-input-button {
    display: grid;
    place-content: center;
    margin: 7px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.search-input-button {
    color: white;
    background-color: black;
}

/* Recipes filters styles */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-elements {
    display: flex;
    gap: 50px;
}

.filter {
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.filter p {
    padding-right: 40px;
}

.recipes-number {
    font-family: "Anton";
    font-size: 20px;
    font-weight: 400;
}

/* Recipes cards styles */
.recipes-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.recipe-card {
    background-color: white;
    border-radius: 21px;
    overflow: hidden;
}

.recipe-header {
    display: flex;
    justify-content: end;
}

.recipe-duration {
    position: absolute;
    padding: 5px 15px;
    margin-right: 20px;
    border-radius: 20px;
    background-color: #FFD15B;
}

.recipe-image {
    width: 100%;
}

.recipe-content {
    padding: 0px 30px 60px 30px;
}

.card-category {
    text-transform: uppercase;
    color: #7A7A7A;
    font-size: 12px;
    font-weight: 700;
}