* {
    font-family: "Anton";
}

body {
    margin: 0;
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 5%;
}
/* Main header styles */
.main-header {
    height: 700px;
    display: grid;
    padding:  0 50px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0,  0, 0.8)), url("/assets/images/Recette15.jpg");
}
.header-nav, .header-search {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-nav {
    position: absolute;
    top: 30px;
}

.header-nav a {
    text-decoration: none;
}

.header-search {
    flex-direction: column;
}

.main-nav-title {
    font-family: "Anton";
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.header-search-title {
    color: #FFD15B;
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    max-width: 700px;
}

.header-search-bar {
    display: flex;
    gap: 10px;
    width: 900px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.recipes-search-input {
    width: 100%;
    border: none;
}

.search-input-button {
    display: grid;
    place-content: center;
    margin: 7px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.search-input-button {
    color: white;
    background-color: black;
}

/* Recipes filters styles */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
    display: flex;
    gap: 50px;
}

.filter {
    background-color: white;
    padding: 0px 20px;
    border-radius: 10px;
}

.filter p {
    padding-right: 40px;
}

.recipes-number {
    font-size: 20px;
}