/* Main header styles */
.main-header {
    height: 700px;
    display: grid;
    grid-template-rows: 100px 600px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0,  0, 0.8)), url("/assets/images/Recette15.jpg");
}
.header-nav, .header-search {
    display: flex;
    align-items: center;
}

.header-search {
    flex-direction: column;
    justify-content: center;
}

.header-search-title {
    color: rgb(255, 196, 0);
    text-transform: uppercase;
}

.header-search-bar {
    display: flex;
    gap: 10px;
    background-color: white;
}

.clear-input-button, .search-input-button {
    padding: 10px;
    margin: 7px;
}

.search-input-button {
    color: white;
    background-color: black;
}